.container{
	padding: 0 18px;
}

.section{
	opacity: 0;
	visibility:hidden;
	position: absolute;
	top: 6px;
	left: 18px;
	right: 18px;
}

.btn-go-to{
	-webkit-user-select: none;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
.btn-go-to:focus{outline:0;}
.btn-go-to-disabled, .btn-go-to-disabled:active, .btn-go-to-disabled:hover, .btn-go-to-disabled:focus {
	opacity: .5 !important;
	cursor: none !important;
}

#page-header{
	position: relative;
	top: 0;
	background-color: #2e5389;
	color: white;
	font-size: 12px;
	height: 34px;
	line-height: 24px;
	width: 100%;
	max-width: 100%;
}

#page-header .fa-stack:active .fa-stack-1x,
#page-header .fa-stack:hover .fa-stack-1x,
#page-header .fa-stack:focus .fa-stack-1x{
	color: #2e5389;
}
#page-header .fa-stack-2x{
	color: #1e3b63;
}

.text-center{
	text-align: center;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.to-display-animatly, .section{
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

.shown{
	opacity: 1;
	visibility:visible;
}

.section-title{
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#section_Home .btn-go-to{
	width: 240px;
	display: block;
	margin: 12px auto;
}

#catalogo_container .categoria-prodotto{
	font-weight: bold;
}

#catalogo_container .prodotto-code{
	font-size: .9em;
	padding-right: 5px;
}

#catalogo_container .prodotto-name{
	font-weight: bold;
	padding-right: 5px;
}

#catalogo_container .prodotto-price{
	font-size: .85em;
	float: right;
}

.update-info{
	font-size: .7rem;
	font-style: italic;
}

/*
@media (max-width: 400px){
	#section_Home button{
		display: block;
		width: 100%;
	}
}
*/
