.container{
	padding: 0 18px;
}

.btn-go-to{
	-webkit-user-select: none;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
.btn-go-to:focus{outline:0;}
.btn-go-to-disabled, .btn-go-to-disabled:active, .btn-go-to-disabled:hover, .btn-go-to-disabled:focus {
	opacity: .5 !important;
	cursor: none !important;
}

#page-header{
	position: relative;
	top: 0;
	background-color: #2e5389;
	color: white;
	font-size: 12px;
	height: 34px;
	line-height: 24px;
	width: 100%;
	max-width: 100%;
}

#page-header .fa-stack:active .fa-stack-1x,
#page-header .fa-stack:hover .fa-stack-1x,
#page-header .fa-stack:focus .fa-stack-1x{
	color: #2e5389;
}
#page-header .fa-stack-2x{
	color: #1e3b63;
}

.text-center{
	text-align: center;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.to-display-animatly, .section{
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

.shown{
	opacity: 1;
	visibility:visible;
}
